@import url('https://fonts.cdnfonts.com/css/satoshi');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

body {
    width: 100%;
}

/* Header Section Start  */
header {
    width: 100%;
}

.top-text {
    width: 100%;
    background-color: black;
    color: #ffffff;
    display: flex;
    padding: 8px 0px;
    font-size: 13px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.top-text>p>a {
    color: white;
    margin-left: 3px;
}

.top-text>i {
    font-size: 15px;
    cursor: pointer;
    position: relative;
    right: -20%;
}

/* Navbar Start  */
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0px 35px;
    height: 80px;

}

.navbar>#toggle-btn {
    display: none;
    font-size: 16px;
    margin-top: 4px;
    padding: 0px 15px 0px 0px;
    cursor: pointer;


}

.navbar>.brand-logo {
    text-transform: uppercase;
    font-family: 'Integral CF Bold';
    font-weight: bolder;
    cursor: pointer;
}

.navbar>.search-input-box {
    position: relative;
}

.search-input-box>input {
    font-size: 16px;
    width: 350px;
    height: 30px;
    padding: 10px 50px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
}

.search-input-box>i {
    position: absolute;
    left: 0%;
    top: 20%;
    font-size: 18px;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.4);


}

.navbar>ul {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
}

.navbar>ul>li {
    cursor: pointer;
    margin-right: 20px;
    transition: 0.3s;
}

.navbar>ul>li:hover {
    color: rgba(0, 0, 0, 0.6);
}

.navbar>.header-cart-user>i {
    cursor: pointer;
    margin-left: 8px;
}

/* Main Start  */
main {
    width: 100%;
    overflow-x: hidden;
    background-color: #F2F0F1;
}

/* Hero-Section-Start  */
.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero-section>.hero-text-img {
    display: flex;
    height: 90%;
}

.hero-text-img>div {
    width: 50%;

}

.hero-text-img>.hero-text {
    padding: 0px 3%;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text>.home-heading {
    font-weight: bolder;
    font-family: 'integral CF bold', sans-serif;
    font-size: 35px;
}

.hero-text>p {
    color: #00000099;
    font-size: 13px;
    margin: 20px 0px;
}

.hero-text>button {
    width: 150px;
    padding: 5px 0px;
    border-radius: 14px;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    transition: 0.4s;
}

.hero-text>button:hover {
    background-color: black;
    color: white;
}

.hero-text-img>.hero-img {
    background-image: url(./images/hero-section-img.jpg);
    height: 100%;
    background-size: cover;
    background-position: top;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-img>#tiny-star {
    width: 45px;
}

.hero-img>#large-star {
    width: 64px;
    margin-bottom: 60%;
    margin-right: 5%;
}

.brands-name {
    background-color: black;
    width: 100%;
    min-height: 70px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.brands-name span {
    text-align: center;
    padding: 15px 20px;
}

.brands-name>span>img {
    width: 100px;
}

/* New Arrivals Section Start  */
.sections {
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    background-color: white;
}

.sections>h1 {
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'integral CF bold';
    font-size: 28px;
    margin-bottom: 15px;
}

.sections>.items-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 230px));
    gap: 10px;
    padding: 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.items-container>.item-box {
    min-height: 300px;
    padding: 0px 5px;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.item-box:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

.item-box>.item-img {
    width: 100%;
    height: 200px;
    padding: 15px 0px;
}

.item-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.item-box>.item-detail {
    margin-top: 10px;
}

.item-detail>.item-name {
    font-weight: bolder;
    font-size: 15px;
    text-align: left;
}

.item-detail>.stars-rating {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 4px 0px;
}

.stars-rating>span {
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
}

.item-detail>.item-price {
    font-weight: bolder;
    text-align: left;
}

.sections>.view-items {
    margin-top: 30px;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    padding: 5px 0px;
    width: 160px;
    border-radius: 20px;
    border: 1px solid black;
    transition: 0.3s;
}

.view-items:hover {
    background-color: black;
    color: #ffffff;
}

/* Top Selling Section Start  */
.top-selling {
    margin-top: 20px;
}

/* Dress Style Section Start  */
.dress-style {
    /* border: 1px solid red; */
    width: 100%;
    min-height: 50vh;
    padding: 0px 15px;
    background-color: white;
    margin-bottom: 20px;
}

.dress-style>div {
    border-radius: 20px;
    background-color: #F0F0F0;
    padding: 0px 10px;
}

.dress-style>div>h1 {
    font-family: 'integral CF bold';
    text-align: center;
    padding: 20px 0px 15px 0px;
    text-transform: uppercase;
}

.dress-container {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: repeat(2, 170px);
    justify-content: center;
    gap: 10px;
    overflow: hidden;
}

.dress-container>.dress-box {
    font-weight: bolder;
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 10px;
}

.dress-container>.first-dress {
    background-image: url(./images/casual-dress.png);
    background-position: left;
    background-size: 200%;
    background-repeat: no-repeat;

}

.dress-container>.sec-dress {
    grid-column: 2/4;
    background-image: url(./images/formal-dress.png);
    background-position: left;
    background-repeat: no-repeat;
}

.dress-container>.third-dress {
    grid-column: 1/3;
    background-image: url(./images/party-dress.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.dress-container>.fourth-dress {
    background-image: url(./images/gym-dress.png);
    background-size: 130%;
    background-position: bottom left;
    background-repeat: no-repeat;
}



























/* Media Query Start  */
@media screen and (max-width : 914px) {

    /* Header Start  */
    .search-input-box>input {
        width: 200px;
    }
}

@media screen and (max-width : 775px) {

    /* Header Start  */
    .navbar>ul>li {
        font-size: 14px;
        margin-right: 10px;
    }
}

@media screen and (max-width : 625px) {

    /* Hero Section Start  */
    .hero-img>#large-star {
        display: none;
    }

    .hero-img>#tiny-star {
        display: none;
    }

    .hero-text>.home-heading {
        font-size: 25px;
    }

    /* Dress Style Section Start  */
    .dress-container {
        grid-template-columns: 200px 200px;
        grid-template-rows: repeat(2, 170px);
        justify-content: center;
        gap: 10px;
        overflow: hidden;
    }

    .dress-container>.first-dress {
        grid-column: auto;
    }

    .dress-container>.third-dress {
        grid-column: auto;
    }
}

@media screen and (max-width : 575px) {

    /* Header Start  */
    .top-text {
        font-size: 11px;
    }

    .top-text>i {
        display: none;
    }

    .navbar {
        padding: 0px 20px;
        height: 60px;
    }

    .navbar>.brand-logo {
        font-size: 17px;
    }

    .navbar>ul {
        display: none;
    }

    .search-input-box>input {
        font-size: 15px;
        width: 180px;
        height: 25px;
        padding: 10px 50px;
        border-radius: 15px;
    }

    .search-input-box>i {
        font-size: 14px;
        top: 25%;
    }

    /* Hero Section Start  */
    .hero-text>.home-heading {
        font-size: 20px;
    }
}

@media screen and (max-width : 414px) {

    /* Hero Section Start  */
    .hero-section>.hero-text-img>.hero-text {
        width: 100%;
        height: fit-content;
        padding: 20px 10px 0px;
        margin: 0%;
    }

    .hero-section>.hero-text-img {
        flex-direction: column;
        margin: 0%;
        padding: 0%;
        min-height: 90%;
    }

    .hero-section>.hero-text-img>.hero-img {
        height: 70vh;
        width: 100%;
        margin: 0px;
        padding: 10px;
    }

    .brands-name>span>img {
        width: 60px;
    }

    .brands-name span {
        text-align: center;
        padding: 10px 10px;
    }

    /* New Arrivals Section Start  */
    .sections>.view-items {
        width: 100%;
    }

}

@media screen and (max-width: 390px) {

    /* Header Start  */
    .top-text {
        font-size: 10px;
        padding: 0px 15px;
    }

    .navbar>#toggle-btn {
        display: flex;
    }

    .search-input-box {
        position: static;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .search-input-box>input {
        display: none;
    }

    .search-input-box>i {
        color: black;
        position: relative;
        padding-right: 15px;
        font-size: 16px;

    }

    /* Hero Section Start  */
    .hero-text>.home-heading {
        font-size: 19px;
    }

    .hero-text>button {
        width: 100%;
    }

    .hero-img>#tiny-star {
        display: flex;
        width: 40px;
    }

    .hero-img>#large-star {
        display: flex;
        width: 55px;
    }

    .brands-name {
        overflow: hidden;
    }

    .brands-name span {
        text-align: center;
        padding: 5px 5px;
    }

    /* Dress Style Section Start  */
    
}